
@font-face {
    font-family: 'Sansita Swashed';
    src: url('font/SansitaSwashed-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sansita Swashed";
  /* outline: 1px solid red; */
}

body{
  background-color: #fff2f2;
  padding: 3em;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h1{
    font-size: 5em;
    color: #ff4d4d;
    text-align: center;
    text-shadow: 2px 2px 5px #ffcaca;
    font-weight: 900;
}

input{
    height: 60px;
    width: 300px;
    text-align: center;
    border: 3px solid pink;
    border-radius: 20px;
    font-size: 1em;
    transition: 0.4s ease-in-out;

}

input:focus{
    outline: none;
    border: 3px solid #ff6666;
    box-shadow: 0 0 5px #ffe1e1;
    transition: 0.4s ease-in-out;
    caret-color: transparent;
}


button{
    font-size: 1em;
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 20px;
    background-color: #ffbbbb;
    transition: 0.4s ease-in-out;
}

button:hover{
    background-color: #ff5b5b;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    color: #fff2f2;
}